extends layout 
block content 
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li.active
              a(href='/about') About
            li
              a(href='/contact') Contact
    .container
        h1 About Us
        p Voluptate nulla enim dolor nulla enim ipsum non esse id non ea est. Occaecat cupidatat quis mollit excepteur. Eu adipisicing ad laboris veniam elit aute do. Ex ea veniam aliquip consequat voluptate. Est occaecat eiusmod qui reprehenderit minim laboris velit duis.
        ul
            li Sit ullamco exercitation tempor occaecat.
            li Sit ullamco exercitation tempor occaecat.
            li Sit ullamco exercitation tempor occaecat.
        p Eiusmod culpa laboris do ullamco in voluptate. Tempor anim eu id incididunt nostrud sint duis exercitation consequat cupidatat nulla eiusmod. In dolor laborum laboris est adipisicing exercitation non.