extends layout

block content
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Project name
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li
              a(href='/about') About
            li
              a(href='/contact') Contact
    .container      
    .jumbotron
      .container
        h1 How May I Help You?
        p Ea veniam fugiat aliquip aliqua nisi. Et ut magna reprehenderit ullamco deserunt sint et velit et culpa nostrud voluptate. Adipisicing Lorem pariatur laboris consequat mollit et amet. Consequat id minim adipisicing excepteur. Veniam adipisicing minim irure do enim dolore occaecat tempor proident enim eiusmod anim adipisicing eiusmod.
        a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
    .container
      .row
        .col-md-4
          h2 About US
          p Nisi laboris laboris reprehenderit laboris irure est aliqua fugiat. Adipisicing cupidatat deserunt ad duis elit tempor ex incididunt occaecat. Culpa quis nulla esse culpa non nulla ipsum cillum. Consectetur ipsum excepteur nostrud enim cillum ex voluptate ut non. Sunt eu amet aute sint fugiat irure et laborum. Dolore duis aliqua quis occaecat consequat veniam ex culpa elit labore. Ea culpa in dolore et non dolor.
          a.btn.btn-default(href="#") View Details
        .col-md-4
          h2 Services
          p Nisi laboris laboris reprehenderit laboris irure est aliqua fugiat. Adipisicing cupidatat deserunt ad duis elit tempor ex incididunt occaecat. Culpa quis nulla esse culpa non nulla ipsum cillum. Consectetur ipsum excepteur nostrud enim cillum ex voluptate ut non. Sunt eu amet aute sint fugiat irure et laborum. Dolore duis aliqua quis occaecat consequat veniam ex culpa elit labore. Ea culpa in dolore et non dolor.
          a.btn.btn-default(href="#") View Details
        .col-md-4
          h2 Get In Touch
          p Nisi laboris laboris reprehenderit laboris irure est aliqua fugiat. Adipisicing cupidatat deserunt ad duis elit tempor ex incididunt occaecat. Culpa quis nulla esse culpa non nulla ipsum cillum. Consectetur ipsum excepteur nostrud enim cillum ex voluptate ut non. Sunt eu amet aute sint fugiat irure et laborum. Dolore duis aliqua quis occaecat consequat veniam ex culpa elit labore. Ea culpa in dolore et non dolor.
          a.btn.btn-default(href="#") View Details