body {
  padding-top: 50px;
}

a {
  color: #6ef03a;
}

.jumbotron{
  background: url("https://picsum.photos/1280");

  
}

footer{
  background: rgb(34,34,34);
  color: white;
  height: 40px;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  overflow: auto;
}